@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer base {
  html {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
    scroll-behavior: smooth !important;
  }

  html::-webkit-scrollbar {
    width: 0.5vw;
    height: 10px;
  }
  html::-webkit-scrollbar-thumb {
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
  }
  html::-webkit-scrollbar-track {
    background-color: #ffff;
  }
  body {
    background-color: #f8fafc;
    font-family: 'Poppins', sans-serif;
  }

  label {
    @apply flex flex-col  text-gray mb-1;
  }
  input {
    @apply w-full border border-semiGray p-1 mb-3 bg-white;
  }
  textarea {
    @apply w-full bg-white;
  }
}

.link {
  display: inline-block;
  position: relative;
  color: #656565;
  text-decoration: none;
}
.link:hover {
  color: #5297ff;
}
.link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  color: #5297ff;
}
.swiper-button-prev {
  left: 0 !important;
  /* width: 1rem !important; */
}
.swiper-button-next {
  right: 0 !important;
}

.ReactCollapse--collapse {
  transition: height 300ms;
}

.over {
  transform: rotate(-180deg);
  transition: transform 300ms ease;
}

.out {
  transform: rotate(-360deg);
  transition: transform 300ms ease;
}

.grid-cols-4-custom {
  grid-template-columns: 1fr 1fr 1fr 10%;
}

@media (max-width: 943px) {
  .grid-cols-4-custom {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .grid-cols-4-custom {
    grid-template-columns: 1fr;
  }
}
.grid-cols-2-custom {
  grid-template-columns: 35% 1fr;
}
@media (max-width: 900px) {
  .grid-cols-2-custom {
    grid-template-columns: 1fr;
  }
}

/* navbar */
.primary-navigation {
  position: fixed;
  inset: 0 0 0 20%;
  background-color: white;
  flex-direction: column;
  padding: min(30vh, 10rem) 2em;
  gap: 3rem;
  z-index: 40;
  transform: translateX(100%);
  transition: transform 350ms ease-out;
  font-size: 1.5rem;
  display: hidden;
}
.active {
  transform: translateX(0%);
  display: flex;
}
